<div style="min-height: 100vh">
    <nav class="navbar navbar-expand-lg bg-light border border-danger border-3">
        <div class="container-fluid m-0 p-0">
            <img src="./assets/logo_deposito.png" class="logo" alt="" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
                    <li class="nav-item">
                        <button routerLink="Inicio" mat-button>Inicio</button>
                    </li>
                    <li class="nav-item">
                        <button *ngIf="admin" mat-button [matMenuTriggerFor]="gestion">Gestión</button>
                        <mat-menu #gestion="matMenu">
                            <button mat-menu-item routerLink="/Home/Usuarios">Usuarios</button>
                            <button mat-menu-item routerLink="/Home/Categorias">Categorias</button>
                            <button mat-menu-item routerLink="/Home/SubCategorias">SubCategorias</button>
                            <button mat-menu-item routerLink="/Home/Productos">Productos</button>
                        </mat-menu>
                    </li>
                    <li class="nav-item">
                        <button routerLink="Pedidos" mat-button>Pedidos</button>
                    </li>
                    <li *ngIf="!admin" class="nav-item">
                        <button (click)="soporteTecnico()" mat-button>Soporte Técnico</button>
                    </li>
                    <li *ngIf="admin" class="nav-item">
                        <button mat-button [matMenuTriggerFor]="soporte">Soporte Técnico</button>
                        <mat-menu #soporte="matMenu">
                            <button mat-menu-item (click)="soporteTecnico()">Reportar Problema</button>
                            <button mat-menu-item (click)="soporteTecnicoList()">Ver Reportes</button>
                        </mat-menu>
                    </li>
                </ul>
                <div class="dropdown-center" style="min-width: 200px">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/Home/Perfil">
                            Mi perfil
                        </button>
                        <button mat-menu-item (click)="changePassword()">
                            Cambiar Contraseña
                        </button>
                        <button mat-menu-item class="logout" (click)="logout()">
                            Cerrar Sesión
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </nav>
    <main class="main-container">
        <router-outlet></router-outlet>
    </main>
</div>