<div class="d-flex justify-content-center align-items-center flex-column login" style="min-height: 100vh;">
    <div class="shadow-lg login-bg boder-login rounded-4" style="width: 30%;">
        <p class="text-center display-6 text-light my-3">LOGIN</p>
        <div class="mx-5 rounded-3 p-3 pt-1 mb-4">
            <form [formGroup]="loginForm" class="my-5 d-flex flex-column" (ngSubmit)="signIn()">
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Correo Eléctronico</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="m-0 p-0" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="password" required>
                </mat-form-field>
                <a href="" class="mb-3 p-0 text-end">Olvide mi contraseña</a>
                <button class="btn btn-danger">Ingresar</button>
            </form>
        </div>
    </div>
</div>