<div class="d-flex justify-content-center align-items-center flex-column login" style="min-height: 100vh;">
    <div class="shadow-lg login-bg boder-login rounded-4" style="width: 30%;">
        <p class="text-center display-6 text-light my-3">LOGIN</p>
        <div class="mx-5 rounded-3 p-3 pt-1 mb-4">
            <form [formGroup]="loginForm" class="my-5 d-flex flex-column mb-3" (ngSubmit)="signIn()">
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Correo Eléctronico</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="m-0 p-0" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input minlength="6" matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <a routerLink="/Reset-Password" class="mb-3 p-0 text-end">Olvide mi contraseña</a>
                <button type="submit" class="btn btn-danger">Ingresar</button>
                <a class="text-end mt-3 text-light link-warning text-decoration-none" routerLink="/Register">Registrarme</a>
            </form>
        </div>
    </div>
</div>