<div>
    <h3 class="text-center fs-3 fw-bolder my-3">Cambiar contraseña</h3>
    <mat-divider></mat-divider>
    <div class="row m-4 mx-5">
        <form [formGroup]="userForm" class="d-flex flex-column" (submit)="changePassword()">
            <mat-form-field class="col" appearance="fill">
                <mat-label>Antigua Contraseña</mat-label>
                <input minlength="6" matInput [type]="hide ? 'password' : 'text'" formControlName="oldPasword" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="col" appearance="fill">
                <mat-label>Nueva Contraseña</mat-label>
                <input minlength="6" matInput [type]="hide ? 'password' : 'text'" formControlName="newpassword" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="col" appearance="fill">
                <mat-label>Repetir Contraseña</mat-label>
                <input minlength="6" matInput [type]="hide ? 'password' : 'text'" formControlName="repeat_password" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <p *ngIf="userForm.value.newpassword !== userForm.value.repeat_password && userForm.valid" class="text-danger" style="font-size: 12px;">**Las constraseñas no coinciden</p>
            <div class="d-flex justify-content-around flex-wrap align-items-center flex-row">
                <button (click)="close()" type="button" class="btn btn-dark m-1 px-4">Cancelar</button>
                <button [disabled]="userForm.invalid || userForm.value.newpassword !== userForm.value.repeat_password" type="submit" class="btn btn-danger m-1 px-4">Cambiar</button>
            </div>
        </form>
    </div>
</div>