<div class="d-flex justify-content-center align-items-center flex-column login" style="min-height: 100vh;">
    <div class="shadow-lg login-bg boder-login rounded-4">
        <p class="text-center display-6 text-light m-3 ">RECUPERAR CONTRASEÑA</p>
        <div class="mx-5">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Correo Eléctronico</mat-label>
                <input matInput [(ngModel)]="email"  name="email" type="text" placeholder="Ex. lanenita@gmail.com" autocomplete="off" required>
            </mat-form-field>
        </div>
        <mat-divider class="bg-danger"></mat-divider>
        <div class="d-flex justify-content-around flex-wrap align-items-center flex-row my-3">
            <button routerLink="/Login" class="btn btn-secondary m-1 px-4">Cancelar</button>
            <button type="submit" class="btn btn-danger m-1 px-4" (click)="resetPassword()">Recuperar</button>
        </div>
    </div>
</div>