<div class="d-flex justify-content-center align-items-center flex-column login" style="min-height: 100vh;">
    <div class="shadow-lg login-bg boder-login rounded-4" style="width: 30%;">
        <p class="text-center display-6 text-light my-3">CAMBIAR CONTRASEÑA</p>
        <div class="mx-5 rounded-3 p-3 pt-1 mb-4">

            <form [formGroup]="loginForm" class="my-5 d-flex flex-column mb-3" (ngSubmit)="resetPassword()">

                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Correo Eléctronico</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="m-0 p-0" appearance="fill">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input minlength="6" matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="m-0 p-0" appearance="fill">
                    <mat-label>Repetir Contraseña</mat-label>
                    <input minlength="6" matInput [type]="hide ? 'password' : 'text'" formControlName="rep_password" required>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button type="submit" class="btn btn-danger">Cambiar</button>
            </form>
        </div>
    </div>

</div>